#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.theme-container {
  text-align: right;
}
.theme-container button {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}
