*{
    margin: 0;
    padding: 0;
}

.main-container {
    margin: 100px auto;
    width: 450px;
}

.user_info {
    margin-top: 25px ;
    display: flex;
    align-items: center
}

.user_info img {
    border-radius: 50%;
    width: 50px;
    height: 50px
}

.sub-content {
    margin-left: 25px;
}