@import "tailwindcss";

.container {
  @apply mx-auto mt-20 w-96 h-10  
         text-white;
}

.container h1 {
  @apply text-3xl font-bold mb-5 text-center;
}

.add-task {
  @apply mx-auto justify-center mb-5 flex p-2 bg-blue-500 rounded-full w-10;
}