@import "tailwindcss";

.list-container li {
  @apply border border-gray-300 py-2 px-5 mb-2 rounded flex items-center;
}

.list-container input[type="checkbox"] {
  @apply mr-4;
}
.list-task {
  @apply flex justify-around w-full;
}
.task-desc {
  @apply flex;
}

.task-desc div {
  @apply mr-4;
}

.add-task {
  @apply mx-auto justify-center mb-5 flex p-2 bg-blue-500 rounded-full w-10;
}
