@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.counter {
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

button {
  color: black;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  margin: 0.5rem;
  cursor: pointer;
}

.box {
  @apply mx-auto mt-20 w-96 h-96 text-center 
         border border-gray-400 rounded-lg shadow-md 
         bg-blue-400 p-6 font-sans;
}
